<%inherit file="base.mako.html"/>

<%block name="title">
    Profile Page
</%block>

<%block name="header">
    Let's talk about you
    ${parent.header()}
</%block>


<%block name="intro">
    This is all about you
</%block>

<div>
    %if user:
        <h2>My Profile</h2>
        <h3>User Details</h3>
        ${user}
        <br/>
        <br/>
        <br/>
    % else:
        <h3>No user logged in</h3>
        <br/>
        <a href="/">Log in</a>
        <br/>
        <br/>
        <br/>
    % endif
</div>
